
/* Переменные  */
:root {
    --dark-color: #000;
    --green-color: #00ff01;
    --red-color: #d9534f;
}

/* Общие стили */
.room {
    position: absolute;
    opacity: 0.3;
    border-radius: 5px;
}

.room:hover {
    opacity: 0.5;
}

.room-vacant-color {
    background-color: var(--green-color);
}

.room-busy-color {
    background-color: var(--red-color);
}

.card {
    padding: 5px;
    border-radius: 7px;
    position: absolute;
    height: 150px;
    width: 105px;
    box-shadow: #464646 0 0 4px;
    font-size: 11px;
    line-height: 1;
}

.line {
    -webkit-print-color-adjust: exact;
    position: absolute;
    width: 3px;
    background-color: var(--dark-color);
    z-index: 100;
    border-radius: 15px;
}

/* Комната 301 */
.room301 {
    width: 106px;
    height: 93px;
    top: 318px;
    left: 34px;
}

.line301 {
    top: 253px;
    left: 90px;
    height: 105px;
    transform: rotate(12deg);
}

.card301 {
    top: 93px;
    left: 50px;
}

/* Комната 302 */
.room302 {
    width: 107px;
    height: 93px;
    top: 318px;
    left: 145px;

}

.line302 {
    top: 253px;
    left: 210px;
    height: 105px;
    transform: rotate(12deg);
}

.card302 {
    top: 93px;
    left: 180px;
}

/* Комната 303 */
.room303 {
    width: 155px;
    height: 93px;
    top: 318px;
    left: 257px;
}

.line303 {
    top: 253px;
    left: 350px;
    height: 105px;
    transform: rotate(12deg);
}

.card303 {
    top: 93px;
    left: 310px;
}

/* Комната 304 */
.room304 {
    width: 170px;
    height: 93px;
    top: 318px;
    left: 899px;
}

.line304 {
    top: 253px;
    left: 985px;
    height: 105px;
    transform: rotate(12deg);
}

.card304 {
    top: 93px;
    left: 940px;
}

/* Комната 305 */
.room305 {
    width: 136px;
    height: 93px;
    top: 318px;
    left: 1074px;
}

.line305 {
    top: 253px;
    left: 1150px;
    height: 105px;
    transform: rotate(12deg);
}

.card305 {
    top: 93px;
    left: 1110px;
}

/* Комната 313 */
.line313 {
    top: 553px;
    left: 220px;
    height: 125px;
    transform: rotate(12deg);
}

.room313-1 {
    width: 115px;
    height: 52px;
    top: 473px;
    left: 84px;
}

.room313-2 {
    width: 100px;
    height: 141px;
    top: 473px;
    left: 199px;
}

.card313 {
    top: 677px;
    left: 120px;
}

/* Комната 312 */
.room312 {
    width: 105px;
    height: 141px;
    top: 473px;
    left: 304px;
}

.line312 {
    top: 553px;
    left: 340px;
    height: 128px;
    transform: rotate(18deg);
}

.card312 {
    top: 677px;
    left: 270px;
}

/* Комната 311 */
.room311 {
    width: 105px;
    height: 141px;
    top: 473px;
    left: 414px;
}

.line311 {
    top: 553px;
    left: 470px;
    height: 125px;
    transform: rotate(10deg);
}

.card311 {
    top: 677px;
    left: 392px;
}

/* Комната 310 */
.room310 {
    width: 99px;
    height: 141px;
    top: 473px;
    left: 524px;
}

.line310 {
    top: 553px;
    left: 585px;
    height: 125px;
    transform: rotate(-12deg);
}

.card310 {
    top: 677px;
    left: 515px;
}

/* Комната 309 */
.room309 {
    width: 106px;
    height: 141px;
    top: 473px;
    left: 629px;
}

.line309 {
    top: 553px;
    left: 695px;
    height: 125px;
    transform: rotate(-12deg);
}

.card309 {
    top: 677px;
    left: 635px;
}

/* Комната 308 */
.room308 {
    width: 100px;
    height: 141px;
    top: 473px;
    left: 739px;
}

.line308 {
    top: 553px;
    left: 795px;
    height: 125px;
    transform: rotate(-12deg);
}

.card308 {
    top: 677px;
    left: 758px;
}

/* Комната 307 */
.room307 {
    width: 60px;
    height: 141px;
    top: 473px;
    left: 843px;
}

.line307 {
    top: 553px;
    left: 895px;
    height: 131px;
    transform: rotate(-25deg);
}

.card307 {
    top: 677px;
    left: 880px;
}

/* Комната 306 */
.room306 {
    width: 187px;
    height: 141px;
    top: 473px;
    left: 1024px;
}

.line306 {
    top: 553px;
    left: 1128px;
    height: 125px;
    transform: rotate(-12deg);
}

.card306 {
    top: 677px;
    left: 1090px;
}